.navigation {
    display: flex;
    justify-content: center;
    background-color: #901FC5ff;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigation ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

.navigation a{
    color: white;
    text-decoration: none;
}